
div.entry {
    font-size: 1.4em;
    line-height: 1.4em;
}

.post-meta {
    text-align: right;
    font-size: 1.3em;
    color: #999;
}

#maincontent h2 {
    color: #263C4B/*3B4A25*/;
    border-bottom: 2px dotted #AAA;
    margin-bottom: 15px;
}

#maincontent .post h2 {
    margin-bottom: 5px;
}

blockquote {
    font-style: normal;
    padding: 0px 30px;
    color: #000;
    background: url('../images/quote.png') .5em top no-repeat;
}

img             { margin: 0; }
p img           { float: none; }

#maincontent h2 		{ color: #263C4B/*3B4A25*/; border-bottom: 2px dotted #AAA; margin-bottom: 15px; }
h2 a 					{ color: #263C4B/*3B4A25*/; text-decoration: none; }
#maincontent .post h2	{ margin-bottom: 5px; }
						/* Padding inside columns */
#maincontent .content 	{ padding: 25px 30px 20px 48px; }	
ul              { margin-left: 15px; list-style-type: none; text-align:left; }
ul li           { padding: 2px 0 2px 9px; background: url('../images/icons/bullet_square_grey.gif') left 5px no-repeat; }

#nav ul li { background: none; }

.imghead, .entry img {
    width: 99%;
    border: 1px solid #333;
}
