---
layout: default
title: Elusive Truth 
category: articles
---
<div class="archive">
    <ol>
    {% for post in paginator.posts %}
        {% include single.html %}
    {% endfor %}
    </ol>

{% if paginator.next_page %}
<a href="{{ site.base_url }}/page{{ paginator.next_page }}">&larr; Older Posts</a>
{% endif %}

{% if paginator.previous_page %}
<a href="{{ site.base_url }}/page{{ paginator.previous_page }}">Newer Posts &rarr;</a>
{% endif %}
</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'binaryelysium'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
