---
layout: index
title: Elusive Truth - The Travel Chronicle
---
{% include header_new.html %}
            <div class="span-24" id="intro">
    <p><strong>Hello!</strong> I'm Casey, a <a href="http://elusivetruth.net/2011/07/23/coming-out-so-to-speak.html" title="Coming out... so to speak">nomad</a> and a <a href="http://binaryelysium.com">programmer</a>. This is my travel chronicle.</p>
<p class="small">
It is organized into three sections:
</p>
<ol>
    <li><a href="/dailies" title="Daily Logs">Daily logs</a>&mdash;raw impressions and experiences posted frequently</li>
    <li><a href="/articles" title="Articles">Articles</a>&mdash;longer reflective pieces posted infrequently</li>
    <li><a href="http://photos.elusivetruth.net" title="Photos">Photos</a>&mdash; sights I've seen captured through a lens</li>
</ol>
<p>
Currently, I am <a href="/2012/12/31/a-boy-bike-and-boat.html" title="A Boy, His Bike, and His Boat">Bikerafting across Europe</a>.
</p>

            </div>
            <div class="span-24" id="map">

            <iframe src="/map.html" style="margin: 0; padding:0; border: none; width: 100%; height: 450px; overflow: hidden;" scrolling="no"></iframe>

            <p>My progress so far in green on my journey from the North Sea to the Black Sea by bicycle and raft. (<a href="http://binaryelysium.com/journey/" target="_blank" title="Alantic to Black Sea by Inland Waterways">larger map</a>)</p>
            </div>
            <div class="span-24" id="page">
                <div class="span-18 append-3 prepend-3 last" id="maincontent">
                    <div class="content">
<h2>Latest Daily Log</h2>
{% for post in site.tags.dailies limit:1 %}
        {% include single_dailies.html %}
<p class="buttons"><a href="{{site.base_url}}/dailies" title="Read more daily logs">Read more dailies...</a><a class="post-comments positive" title="Leave your opinion/thoughts!" href="{{site.base_url}}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.uuid }}">Comments</a></p>
{% endfor %}


<h2>Latest Articles</h2>
<div class="archive">
    <ol>
    {% for post in site.tags.articles limit:5 %}
        {% include single_articles.html %}
    {% endfor %}
    </ol>
<p class="buttons"><a href="{{site.base_url}}/articles" title="Read more articles">Read more articles...</a></p>
</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'binaryelysium'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
