                    </div>
                </div>
                <div class="span-7 last" id="sidebar">
                        <div class="sidebox">
                            <h3>What's this all about?</h3>
                            <p>I'm Casey, a nomad and a programmer.</p><p>This is my travel chronicle. Currently, I'm cycling through South America.</p>
                        </div>
                        <div class="sidebox">
                        <h3>Keep Updated</h3>
                        <form class="feedburner-email" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=ElusiveTruth', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p class="buttons">
                            <input type="text" class="rounded email" name="email" value="E-Mail" onfocus="if (this.value == 'E-Mail') {this.value = '';}" onblur="if (this.value == '') {this.value = 'E-Mail';}"/><button type="submit">Subscribe</button></p>
                            <input type="hidden" value="ElusiveTruth" name="uri"/><input type="hidden" name="loc" value="en_US"/></form>
                        <p class="social-icons">
                        <a href="https://twitter.com/#!/Ramblurr" title="@Ramblurr on Twitter"><img src="/images/icons/twitter_32.png" /></a> 
                        <a href="http://elusivetruth.net/feed" title="Subscribe to the feed!"><img src="/images/icons/rss_32.png" /></a> 
                        <a href="http://www.flickr.com/photos/ramblurr/" title="See Casey's Photos"><img src="/images/icons/flickr_32.png" /></a> 
                        </p>
                    </div>

                    <div class="sidebox">
                        <h3>Recent Dailies</h3>
                        <ul>
                            {% for post in site.tags.dailies limit:5 %}
                            <li><a href="{{ site.base_url }}{{post.url}}" title="{{post.title}}">{{ post.title }}</a></li>
                            {% endfor%}
                            <li><a href="{{ site.base_url }}/dailies" title="Dailies">More Dailies...</a></li>
                        </ul>
                    </div>
                    <div class="sidebox">
                        <h3>Recent Articles</h3>
                        <ul>
                            {% for post in site.tags.articles limit:5 %}
                            <li><a href="{{ site.base_url }}{{post.url}}" title="{{post.title}}">{{ post.title }}</a></li>
                            {% endfor%}
                            <li><a href="{{ site.base_url }}/articles" title="Articles">More Articles...</a></li>
                        </ul>
                    </div>
                   <!-- <div class="sidebox">
                        <h3>Recent Opinions</h3>
                        <div id="recentcomments" class="dsq-widget">
                            <h2 class="dsq-widget-title"></h2>
                            <script type="text/javascript" src="http://binaryelysium.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=1&avatar_size=24&excerpt_length=50"></script>
                        </div>
                    </div>-->
                    <div class="sidebox">
                        <h3>Recent Photos</h3>
                        <style type="text/css">
                            .smugmug_image {margin:0px;display:inline;}
                            .smugmug_image img {border: 1px solid #666666 !important; padding:1px; margin:2px;}
                        </style>
                       <div id="smugmug_photos">
                           <script src="/photos.js" type="text/javascript"></script>
                           <div class="loading">Loading photos...</div>
                       </div>
                        <a href="http://photos.elusivetruth.net" title="My photo site">View more of my photos...</a>
                    </div>
                                    </div>
                                </div>
            <div class="span-24" id="footer">
                &copy;2011 Casey Link <br/> <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a> Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Share-Alike License</a></a><br />
        Powered by <a title="jekyll" href="http://jekyllrb.com/">jekyll</a>. Banner by <a href="http://headvoid.deviantart.com/" title="headvoid">headvoid</a>.
            </div>
        </div>
    </body>
</html>
