<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/blueprint_new/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/blueprint_new/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="/css/custom_new.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/blog.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/textboxes.css" type="text/css" media="screen, projection" />
    <!--[if lt IE 8]
    <link rel="stylesheet" href="{{ site.base_url }}/css/blueprint_new/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="copyright" content="2009-2013 Casey Link" />

    <link rel="alternate" type="application/atom+xml" title="Elusive Truth Feed" href="http://elusivetruth.net/feed" />

    {% if page.teaser-img %}
    <meta property="og:image" content="{{ site.base_url }}/uploads/{{ page.date | date: "%Y/%m"}}/{{ page.teaser-img }}-300x300.jpg"/>
    <link rel="image_src" href="{{ site.base_url }}/uploads/{{ page.date | date: "%Y/%m"}}/{{ page.teaser-img }}-300x300.jpg" />
    {% else %}
    <meta property="og:image" content="{{ site.base_url }}/images/avatar_man200.png"/>
    <link rel="image_src" href="{{ site.base_url }}/images/avatar_man200.png" />
    {% endif %}
    <meta property="og:title" content="{{page.title}}"/>
    <meta property="og:description" content="{{ page.teaser }}"/>
    <link rel='canonical' href='{{site.base_url}}{{ page.url }}' />

    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Elusive Truth"/>
    <meta property="og:url" content="{{site.base_url}}{{ page.url }}"/>
    <meta property="fb:admins" content="6236588"/>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23672083-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
        <div class="container">
            <div class="span-24" id="header">
                <h1><a href="{{ site.base_url }}" title="Elusive Truth">Elusive Truth</a></h1>
                <div class="description">
                    In tramping you are not earning a living, but earning a happiness. <br />
                    &ndash; <a href="http://binaryelysium.com/prose/graham/the_gentle_art.html" title="The Gentle Art of Tramping">Stephen Graham</a></div>
            </div>
            <div class="span-24" id="nav">
                <ul>
                    <li><a href="{{ site.base_url }}/articles" title="Articles - longer blobs of text. Thoughts, reflections">Articles</a></li>
                    <li><a href="{{ site.base_url }}/dailies" title="Dailies - shorter blobs of text. What, when, where.">Dailies</a></li>
                    <li><a href="http://photos.elusivetruth.net" title="My Travel Photos">Photos</a></li>
                    <li><a href="{{ site.base_url}}/archives.html" title="Blog Archives">Archives</a></li>
                </ul>
            </div>

