<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="none" />
    <meta name="robots" content="noindex" />
    <meta name="robots" content="nofollow" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.base_url }}/css/blueprint_new/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ site.base_url }}/css/blueprint_new/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="{{ site.base_url }}/css/custom_new.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ site.base_url }}/css/blog.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ site.base_url }}/css/textboxes.css" type="text/css" media="screen, projection" />
    <!--[if lt IE 8]
    <link rel="stylesheet" href="{{ site.base_url }}/css/blueprint_new/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->

    <link rel="icon" href="{{site.base_url}}/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{{site.base_url}}/favicon.ico" type="image/x-icon" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="copyright" content="2011 Casey Link" />

    <link rel="alternate" type="application/atom+xml" title="Elusive Truth Feed" href="http://elusivetruth.net/feed" />

    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css' />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23672083-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
        <div class="container">
            <div class="span-24" id="header">
                <h1>Elusive Truth</h1>
                <div class="description">The healthy wayfarer sitting beside the road scanning the horizon open before him, is he not the absolute master of the earth, the waters, even the sky?</div>
            </div>
            <div class="span-24" id="nav">
                <ul>
                    <li><a href="{{ site.base_url }}" title="Blog Homepage">Home</a></li>
                    <li><a href="http://www.flickr.com/photos/ramblurr/" title="My Flickr Photos">Photos</a></li>
                    <li><a href="{{ site.base_url}}/archives.html" title="Blog Archives">Archives</a></li>
                </ul>
            </div>
            <div class="span-24" id="page">
                <div class="span-16 first border" id="maincontent">
                    <div class="content">
