---
layout: default
title: Archives - Elusive Truth
---

<div class="archive">
    <h1>{{page.tag}} from {{ page.month | to_month }}, {{ page.year }}</h1>
    <ol>
            {% for d in (1..31) %}
                {% if site.collated_tags[page.tag][page.year][page.month][d] %}
                    {% for post in site.collated_tags[page.tag][page.year][page.month][d] %}
                        {% include single_dailies.html %}
                        <hr />
                    {% endfor %}
                {% endif %}
            {% endfor %}
    </ol>
    <div id="read-more">
    <h3 >Read More</h3>
    {{ page.prev_link }} <a href="/{{page.tag}}/" title="{{ page.tag | proper_case }} Index">{{ page.tag | proper_case }} Index</a> {{ page.next_link }}
    </div>
</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'binaryelysium'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
